# Getting COVID-19 Confirmed Cases Per Country
- [API](https://covid19api.com/)
This API doesn’t require authentication, so it’s pretty straightforward to get some data right away.
- [API Documentation](https://documenter.getpostman.com/view/10808728/SzS8rjbc)

__Objective__: get the total number of confirmed cases up to the previous day.

In [2]:
import requests 
from datetime import date, timedelta
import json
import pandas as pd
import matplotlib.pyplot as plt

### Getting List of Countries Under the API
Returns all the available countries and provinces, as well as the country slug for per country requests.

In [24]:
# getting lists of Countries
countries_url = 'https://api.covid19api.com/countries' # endpoint
countries_data = requests.get(countries_url).json()

# writing the output data to a local json file
with open('countries_data_in_json.json', 'w') as c:
    json.dump(countries_data, c)

# transforming the json file to Excel using Pandas
# pd.read_json("countries_data_in_json.json").to_excel("countries_data_in_excel.xlsx")

### Overall Global Summary (Today)
A summary of new and total cases per country updated daily.

In [31]:
# endpoint
summary_url = 'https://api.covid19api.com/summary'
global_summary_data = requests.get(summary_url).json()

pd.DataFrame(global_summary_data['Global'], index=[0]).stack()

0  NewConfirmed                      269689
   TotalConfirmed                 174160419
   NewDeaths                           7410
   TotalDeaths                      3755242
   NewRecovered                      322346
   TotalRecovered                 112407150
   Date              2021-06-10T21:42:29.1Z
dtype: object

### Country by Country Summary (Today)
A summary of new and total cases per country updated daily.

In [34]:
summary_url = 'https://api.covid19api.com/summary' # summary endpoint
global_summary_data = requests.get(summary_url).json()

# Transforming the json object to a Pandas DataFrame
countries_summary_df = pd.DataFrame(global_summary_data["Countries"])
print(countries_summary_df.info())
countries_summary_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              191 non-null    object
 1   Country         191 non-null    object
 2   CountryCode     191 non-null    object
 3   Slug            191 non-null    object
 4   NewConfirmed    191 non-null    int64
 5   TotalConfirmed  191 non-null    int64
 6   NewDeaths       191 non-null    int64
 7   TotalDeaths     191 non-null    int64
 8   NewRecovered    191 non-null    int64
 9   TotalRecovered  191 non-null    int64
 10  Date            191 non-null    object
 11  Premium         191 non-null    object
dtypes: int64(6), object(6)
memory usage: 18.0+ KB
None

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,720359e9-a8ff-4e4d-8b7f-8bbaa0c1f654,Afghanistan,AF,afghanistan,0,84050,0,3305,0,59871,2021-06-10T21:42:29.1Z,{}
1,eb666a26-05fc-4fa4-afae-a2a2ce82b1bf,Albania,AL,albania,0,132415,0,2452,0,129761,2021-06-10T21:42:29.1Z,{}
2,48d75262-22e8-488b-9fde-64edab19a78d,Algeria,DZ,algeria,0,132034,0,3544,0,91894,2021-06-10T21:42:29.1Z,{}
3,2087f802-b373-4aa6-a2a1-df60b40a437c,Andorra,AD,andorra,0,13791,0,127,0,13569,2021-06-10T21:42:29.1Z,{}
4,1055bce8-54fa-4214-863d-a0a355d29e6a,Angola,AO,angola,0,36115,0,811,0,29553,2021-06-10T21:42:29.1Z,{}

## Day One Cases
### Cases in Kenya
__Objective__: Returns all cases by case type for a country from the first recorded case. Country must be the Slug from /countries or /summary. Cases must be one of: confirmed, recovered, deaths

In [39]:
kenya_url = 'https://api.covid19api.com/dayone/country/kenya'
kenya_daily_cases = requests.get(kenya_url).json()

kenya_daily_cases_df =pd.DataFrame(kenya_daily_cases)
kenya_daily_cases_df

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,d385cae5-4fe8-4ce9-b89d-7f7b64d3c9b5,Kenya,KE,,,,-0.02,37.91,1,0,0,1,2020-03-13T00:00:00Z
1,ad2ab2ed-3c87-4298-a79f-38026785c0ca,Kenya,KE,,,,-0.02,37.91,1,0,0,1,2020-03-14T00:00:00Z
2,1c537e9f-58b9-4004-8f7c-2c14b97ec9cd,Kenya,KE,,,,-0.02,37.91,3,0,0,3,2020-03-15T00:00:00Z
3,2acd8099-8186-43f9-867c-c6a4c04e08de,Kenya,KE,,,,-0.02,37.91,3,0,0,3,2020-03-16T00:00:00Z
4,249f0e00-1518-4686-a597-47abd18fcb09,Kenya,KE,,,,-0.02,37.91,3,0,0,3,2020-03-17T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,95a01aa0-1252-4522-af50-8ed59a5c0a8f,Kenya,KE,,,,-0.02,37.91,172491,3287,117595,51609,2021-06-06T00:00:00Z
451,6e16e23e-1dc6-4e29-879f-579a5d122930,Kenya,KE,,,,-0.02,37.91,172639,3308,118226,51105,2021-06-07T00:00:00Z
452,85a75094-d7ad-4155-9da8-f57458dcf7cb,Kenya,KE,,,,-0.02,37.91,173072,3326,118621,51125,2021-06-08T00:00:00Z
453,31f4c29c-44d6-467d-8262-3d2ba942549b,Kenya,KE,,,,-0.02,37.91,173661,3345,118933,51383,2021-06-09T00:00:00Z
454,76867039-03e1-4337-bb39-d5eba9d19036,Kenya,KE,,,,-0.02,37.91,173661,3345,118933,51383,2021-06-10T00:00:00Z

## References
1. https://realpython.com/python-api/#learning-advanced-api-concepts